extends layout 

block content
  include navbar.pug
  .w3-container
    .w3-container
      h1.w3-margin-left= title
      a.w3-btn.w3-border.w3-margin-left.w3-green(href="/resources/download/"+resource._id) Download

    ul.w3-ul 
      li.w3-margin-left Resource ID: #{resource._id} 
      li.w3-margin-left Producer: #{resource.idProducer}
      li.w3-margin-left Uploaded in: #{resource.submissionDate}
      li.w3-margin-left Created in: #{resource.dateCreated}
      li.w3-margin-left Authors: #{resource.authors}
      li.w3-margin-left Type: #{resource.type}
      li.w3-margin-left Description: #{resource.description}
      li
        form.w3-container
          span Score:  #{score}
          div.w3-margin-right
            // Styles for the star rating system
            style.
              .stars {
                display: inline-block;
                font-size: 0;
              }
              .stars input[type="radio"] {
                display: none;
              }
              .stars label {
                display: inline-block;
                width: 1em;
                font-size: 24px;
                line-height: 1;
                margin: 0;
                padding: 0;
                cursor: pointer;
                color: #ccc;
                text-shadow: 1px 1px #999;
              }
              .stars label:before {
                content: '\2605';
              }
              .stars label.hovered,
              .stars input[type="radio"]:checked ~ label,
              .stars label.selected {
                color: #ffcc00;
                text-shadow: 1px 1px #c69c00;
              }
            // Star rating system
            div.stars
              .stars
                each num in [1, 2, 3, 4, 5]
                  label(for=`star${num}`)
                    input(type='radio', id=`star${num}`, name='rating', value=`${num}`)

            script.
              // jQuery code to handle the rating selection
              $('.stars label').hover(
                function() {
                  $(this).prevAll('label').addBack().addClass('hovered');
                },
                function() {
                  $(this).prevAll('label').addBack().removeClass('hovered');
                }
              );
              $('.stars input[type="radio"]').change(function() {
                var selectedRating = $(this).val();
                // Send the selected rating via POST request
                $.ajax({
                  url: "/resources/review/#{resource._id}",
                  type: 'POST',
                  data: { value: selectedRating },
                  success: function(response) {
                    // Handle the success response
                    console.log('POST request successful');
                  },
                  error: function(xhr, status, error) {
                    // Handle the error response
                    console.error('Error:', error);
                  }
                });
                // Remove the 'hovered' class from all labels
                $('.stars label').removeClass('hovered');
                // Remove the 'selected' class from all labels
                $('.stars label').removeClass('selected');
                // Add the 'selected' class to the selected label and all labels before it
                $(this).closest('label').prevAll('label').addBack().addClass('selected');
              });
      
      li
        form.w3-container.w3-auto(action="/resources/comment/" + resource._id + "?user=" + user method="POST")
          .w3-row(style="display:flex")
            textarea.w3-container(id="numbers" cols=100 rows=4 style="resize:none; width:100%"
            placeholder="Write your comments about this resource here!" name="textarea")
            button.w3-btn.w3-small.w3-round.w3-border.w3-light-green.w3-margin-left(type="submit") Comment
  .w3-container.w3-margin-left
    h2 Resource Files
    ul.w3-ul.w3-border
      each f in files
        li
          .w3-row-padding
            .w3-half
              |  #{f.name}
  .w3-container
    h3.w3-center Comments
    if comments.length > 0
      table.w3-table-all.w3-center
        th.w3-left User
        th.w3-center Comment
        th.w3-right Date
        each c in comments
          tr
            td.w3-left=c.idUser
            td.w3-center=c.text
            td.w3-right=c.date
            if user==c.idUser || level=='admin'
              td
                a.w3-right.w3-button.w3-round.w3-small.w3-hover-red(href="/resources/comment/delete/"+c._id+"?user="+c.idUser value="Delete" style='padding: 2px;')
                  img(src='../images/icons8-trash-64.png' style='width: 50%; height: 50%;')
    else
      p.w3-center There are no comments for this resource yet...